<p></p>
<div class="form-container">
  <h4>Register your account</h4>

  <p></p>
  <form>
    <div class="mb-3">
      <label for="nameInput" class="form-label">Name</label>
      <input [(ngModel)]="name" type="text" class="form-control" id="nameInput" placeholder="your name here" />
    </div>
    <div class="mb-3">
      <label for="passwordInput" class="form-label">Password</label>
      <input type="password" class="form-control" id="passwordInput" />
    </div>
    <div class="mb-3">
      <label for="emailInput" class="form-label">Email</label>
      <input type="email" class="form-control" id="emailInput" />

      <div class="d-grid gap-2 mt-4">
        <button class="btn btn-primary" type="submit" (click)="changeName()">Create Account</button>
      </div>
      
    
<p></p><p></p><p></p><p></p>
{{name}}
<p>Welcome to the registration page. Please choose an option above to proceed with your registration.</p>
    


    </div>
  </form>
</div>
