<p></p>
<div class="form-container">
  <h4>Register your account</h4>

  <p></p>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" [(ngModel)]="user.name" name="name"/>
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" [(ngModel)]="user.email" name="email"/>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" [(ngModel)]="user.password" name="password"/>
      <div class="d-grid gap-2 mt-4">
        <button class="btn btn-primary" type="submit">Create account</button>
      </div>
    </div>
  </form>

  @if (message) {
    <div class="mb-3">
      <div class="alert alert-info">{{ message }}</div>
    </div>
  }

</div>
