<div class="table-container">
  <h2 class="page-title">Accounts</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark Otto</td>
        <td>mark.otto&#64;example.com</td>
      </tr>
      <tr>
        <td>Jacob Thornton</td>
        <td>jacob.thornton&#64;example.com</td>
      </tr>
      <tr>
        <td>John Doe</td>
        <td>john.doe&#64;example.com</td>
      </tr>
    </tbody>
  </table>
</div>