<div class="catalogo">

    @for (product of products; track product.id) {
      <div class="product">
        <h3 class="product-name">{{ product.name }}</h3>
        <p class="description">{{ product.description || 'no description' }}</p>
        <div class="product-footer">
          <p class="price">R$ {{ product.price }}</p>
          <div class="product-buttons">
            <button class="edit-product" (click)="editProduct(product.id)">Edit</button>
            <button class="add-to-cart" (click)="addToCart(product)">[+] Cart</button>
          </div>
        </div>
      </div>
    }

</div>