.form-container {
  max-width: 700px; 
  width: 100%;
  margin: 0 auto; 
  padding-top: 150px; 
}

.button-box {
  padding: 30px; 
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  
  text-align: center;
}

.button-box .btn-lg {
  min-width: 220px;
}