<p></p>
<div class="form-container">
  <h4>Register your product</h4>

  <p></p>
  <form>
    <div class="mb-3">
      <label for="nameInput" class="form-label">Name</label>
      <input type="text" class="form-control" id="nameInput" />
    </div>
    <div class="mb-3">
      <label for="descriptionInput" class="form-label">Description</label>
      <input type="text" class="form-control" id="descriptionInput" />
    </div>
    <div class="mb-3">
      <label for="priceInput" class="form-label">Price</label>
      <input type="number" class="form-control" id="priceInput" />

      <div class="d-grid gap-2 mt-4">
        <button class="btn btn-primary" type="submit">Create Product</button>
      </div>
    </div>
  </form>
</div>
